*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    overflow: hidden;
}
:root {
    --ball-size: 1.5rem; 
    --hue: 200;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%); 
    --background-color: hsl(var(--hue), var(--saturation), 25%); 
}
.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--foreground-color);
}
.score>* {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: .5;
}
.score>:first-child{
    text-align: right;
    border-right: .5vh solid var(--foreground-color);
}
.paddle {
    position: absolute;
    background-color: var(--foreground-color);
    width: 2vh;
    height: 15vh;
    border-radius: 15px;
}
.player {
    --position: 50;
    left: 2vw;
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
}
.computer {
    --position: 50;
    right: 2vw;
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
}
.ball {
    --x : 50;
    --y : 50;
    position: absolute;
    top: calc(var(--y) * 1vh);
    left: calc(var(--x) * 1vw);
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 50%;
    width: var(--ball-size); height: var(--ball-size);
    z-index: 100;
}